
{% extends 'layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-2"></div>
        {% set i = 0 %}
        {% for site in siteAll %}

            {% if size%3 != 0 %}

                {% set mod = size%3 %}

                {% if i == size - mod %}
                    <div class="col-md-1" id="decal"></div>
                    {% endif %}
        <div class="col-md-2">
            <div class="img_hov">
                <img class="img_home" src="{{ asset('public/uploads_site/' ~ site.file.name) }}" alt="nantes" >
                <div class="overlay"></div>
                <div class="city_text">
                    {% if app.user %}
                        <a name="label" value="{{ site.label }}" href="{{ path('listEvent', {'label': site.label |raw}) }}">{{ site.label }}</a>
                    {% else %}
                        <a>NANTES</a>
                    {% endif %}
                </div>
            </div>
        </div>

            {% set i = i + 1 %}

            {% if i%3 == 0 %}
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                {% else %}
                    <div class="col-md-1"></div>
            {% endif %}

            {% endif %}
        {% endfor %}
    </div>


    <script>
        $('.img_hov').mouseenter(function () {
            $(this).animate({
                width : '25em'
            }, {
                duration : 1000,
                queue : false
            })
        })
        $('.img_hov').mouseleave(function () {
            $(this).animate({
                width : '100%'
            }, {
                duration : 1000,
                queue : false
            })
        })
    </script>

{% endblock %}
