Actions: <br>
<a href="{{ path('affichEvent', {'id': eventByDescription.id}) }}">Afficher</a>
Se désister
<div class="inscription-event" name="id" value="{{ eventByDescription.id }}">S'inscrire</div>
Modifier
Annuler







