<div class="row d-flex justify-content-center">

    {% for eventByDescription in eventByDescription %}

        <div class="card col-sm-6 col-md-4" style="width: 18rem;" id="event_card">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">{{ eventByDescription.label }}</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text">{{ eventByDescription.label }}</p>
                <div class="d-flex justify-content-center">

                    {% include 'includes/actions.html.twig' %}

                </div>
            </div>

        </div>

    {% endfor %}


</div>


<script>

    $(".inscription-event").on("click", makeAjaxRequest);

    function makeAjaxRequest() {
        $idvar = ($(this).attr("value"));
        $.ajax({

            url: "http://localhost/going-out/public/api/inscriptionEvent/" + $idvar
        })
            //lorsque la requête sera terminée, cette fct se déclenchera
            .done(function (response) {


                console.log(response);
            });
    }
</script>


<script>

    $(".withdraw-event").on("click", makeAjaxRequest);

    function makeAjaxRequest() {
        $idvar = ($(this).attr("value"));
        $.ajax({

            url: "http://localhost/going-out/public/api/withdrawEvent/" + $idvar
        })
            //lorsque la requête sera terminée, cette fct se déclenchera
            .done(function (response) {


                console.log(response);
            });
    }
</script>


<script>

    $(".delete-event").on("click", makeAjaxRequest);

    function makeAjaxRequest() {
        $idvar = ($(this).attr("value"));
        $.ajax({

            url: "http://localhost/going-out/public/api/deleteEvent/" + $idvar
        })
            //lorsque la requête sera terminée, cette fct se déclenchera
            .done(function (response) {


                console.log(response);
            });
    }
</script>