<div class="row">
    <div class="col-md-12" id="header">
        <div class="page-header">
            <h1>
                Sortir.com <small>la plateforme qui organise vos sorties !</small>
            </h1>
        </div>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link"  href="{{ path('home') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mon Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Villes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sites</a>
            </li>
            {% if app.user %}
                <small>Connecté</small>
                <li class="nav-item dropdown ml-md-auto">
                    <a class="nav-link" href="{{ path('logout') }}"> Se déconnecter </a>
                </li>
            {% else %}

                <li class="nav-item dropdown ml-md-auto">
                    <a class="nav-link" href="{{ path('login') }}"> Se connecter </a>
                </li>
                <small>Non Connecté</small>
            {% endif %}

        </ul>
    </div>
</div>