{% if nbPage > 0 %}
    {% for i in range(1, nbPage) %}
        {% if page == i - 1 %}
            <b> <a href="{{ path('listEvent',{'page': i - 1, 'label':siteLabel, 'var':var}) }}"
                   style="color:#242326;">{{ i }}</a></b>
        {% else %}
            <a href="{{ path('listEvent',{'page': i - 1, 'label':siteLabel, 'var':var})  }}"
               style="color:#242326;">{{ i }}</a>

        {% endif %}
        {% if not loop.last %}
            &nbsp;-&nbsp;
        {% endif %}
    {% endfor %}

{% endif %}