{% extends 'layout.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-2 col-md-3"></div>
<div class="col-xs-8 col-md-6"  id="form_format">
    <h3>Mot de passe oublié</h3>

    <form role="search" action="{{ path('fpwforgottenPassword') }}">
        <div>
            <input type="search" class="form-control" id="info_fpw" name="info_user_fpw"
                   placeholder="Entrez votre identifiant ou email" required>
            <br>
            <div class="d-flex justify-content-around">
            <button class="btnValid" type="submit">Envoyer</button>
            <button type="button" class="btnValid">
                <a href="{{ path('fpwpasswordToken') }}" class="card-link">J'ai reçu mon token</a>
            </button>
            </div>
        </div>
    </form>




</div>
    <div class="col-xs-2 col-md-3">
    </div>
</div>
{% endblock %}
