{#{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}#}
{% extends 'layout.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-2 col-md-3"></div>

<div class="col-xs-8 col-md-6"  id="form_format">
    <h3>Clé reçue</h3>

    <form role="search" action="{{ path('fpwpasswordToken') }}">
        <div>
            <input type="search" class="form-control" id="info_fpw" name="info_user_fpw"
                   placeholder="Entrez votre identifiant ou email" required>
        </div><br/>
        <div>
            <input type="search" class="form-control" id="token_fpw" name="token_user_fpw"
                   placeholder="Entrez votre clé" required>
            <br>
            <button class="btnValid" type="submit">Envoyer</button>
        </div>
    </form>
</div>

    <div class="col-xs-2 col-md-3">
    </div>
</div>
{% endblock %}
