#body{
    background-color: #fffdfb;
    min-height:100vh;
    color: #235784;
    font-family: 'Ubuntu', sans-serif;
}
#header{
    background-color: #FFFFFF;
    padding: 1em;
    margin-bottom: 2em;
}
h1{
    color: #235784;
}
/* Navigation */

nav, small{
    color: #235784;
    margin-bottom: 2em;
}

.nav-item a{
    position: relative;
    font-size: x-large;
}
.text_nav{
    color: #235784;
}

.test-color{
    color: white;
    background-color: #f7aa00;

    padding-left: 0.3em;
    padding-right: 0.3em;
}
.nav-item a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f7aa00;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.nav-item a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
#catch{
    font-weight: bold;
}

/* Boutons */

.btnValid{
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgba(35,87,132,0.8);
    box-shadow: 10px 13px 24px -13px rgba(0,0,0,0.75);
    border: none;
    margin-top: 1em;
}
.btnValid:hover{
    color: white;
    background-color: rgba(35,87,132,1);

}
.btnValid a{
    text-decoration: none;
    color: white;
}
.btnValid a:hover{
    text-decoration: none;
    color: white;
}
.btnForm{
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgba(35,87,132,0.8);
    box-shadow: 10px 13px 24px -13px rgba(0,0,0,0.75);
    border: none;
}
.btnPlace{
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 0.8rem;
    font-weight: bold;
    color: #235784;
    background-color: white;
    box-shadow: 10px 13px 24px -13px rgba(0,0,0,0.75);
    border: none;
}
.withdraw-event, .inscription-event, .btnAdmin, .delete-event, .btnAction{
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 0.8rem;
    font-weight: bold;
    color: #235784;
    background-color: white;
    box-shadow: 9px 9px 24px -13px rgba(35,87,132,0.75);
    border: 1.4px solid rgba(35,87,132,0.6);
    margin-left: 2em;
}
.btnAdmin a, .btnAction a{
    text-decoration: none;
    color: #235784;
}
.btnAdmin a:hover, .btnAction a:hover{
    text-decoration: none;
}
.withdraw-event:hover, .inscription-event:hover,  .delete-event:hover{
    color: #f7aa00;
    box-shadow: 9px 9px 24px -13px rgba(247, 170, 0,0.75);
    border: 1.4px solid rgba(247, 170, 0,0.6);
}
.btnAdmin:hover a, .btnAction:hover a{
    color: #f7aa00;
}
.btnAdmin:hover, .btnAction:hover{
    box-shadow: 9px 9px 24px -13px rgba(247, 170, 0,0.75);
    border: 1.4px solid rgba(247, 170, 0,0.6);
}
.btnActive , .btnDelete {
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 0.8rem;
    font-weight: bold;
    color: #235784;
    background-color: white;
    box-shadow: 9px 9px 24px -13px rgba(35,87,132,0.75);
    border: 1.4px solid rgba(35,87,132,0.6);
    margin-bottom: 2em;
}
.btnActive a, .btnDelete a{
    text-decoration: none;
    color: #235784;
}
.btnActive:hover a, .btnDelete:hover a{
    text-decoration: none;
    color: #f7aa00;
}
.btnActive:hover , .btnDelete:hover {
    text-decoration: none;
    color: #f7aa00;
    box-shadow: 9px 9px 24px -13px rgba(247, 170, 0,0.75);
    border: 1.4px solid rgba(247, 170, 0,0.6);
}

    /* Formulaire */

form{
    padding: 2em;
}
#form_format{
    background-color: rgba(35,87,132,0.3);
    margin-bottom: 2em;
    color: #FFFFFF;
}
#form_format h3{
/*    background-color: rgba(35,87,132,0.2);*/
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Abel', sans-serif;
    margin-top: 1em;
}
#form_format .error{
    color: #FFFFFF;
    text-align: center;
}

/* Logo */

#logo, #hw{
    width: 10em;
    display: block;
    height: auto;
}

/* Fond Login */
@media only screen and (min-width: 992px){
    #login{
        min-height:100vh;
        background-image: url(../../img/typo_welcome.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-attachment: fixed;
        background-size: contain;
    }
}
@media only screen and (max-width: 992px){
    #login{
        min-height:100vh;
        background-image: url(../../img/typo_mob.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-attachment: fixed;
        background-size: contain;
    }
}

/* Fond Register */
@media only screen and (min-width: 992px){
    #register{
        min-height:100vh;
        background-image: url(../../img/fnd_ins.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-attachment: fixed;
        background-size: contain;
    }
}

/* Fond City */
@media only screen and (min-width: 992px){
    #city_bgd{
        min-height:100vh;
        background-image: url(../../img/illustration/navigation.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-attachment: fixed;
        background-size: 20%;
    }
}

/* Fond Site */
@media only screen and (min-width: 992px){
    #site_bgd{
        min-height:100vh;
        background-image: url(../../img/illustration/city_buildings.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-attachment: fixed;
        background-size: 20%;
    }
}

/* Fond Profil */
@media only screen and (min-width: 992px){
    #profil_bgd{
        min-height:100vh;
        background-image: url(../../img/illustration/personal_data_.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-attachment: fixed;
        background-size: 20%;
    }
}

/* Fond Create Event */
@media only screen and (min-width: 992px) {
    #create_event_bgd {
        min-height: 100vh;
        background-image: url(../../img/illustration/fast_working.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-attachment: fixed;
        background-size: 20%;
    }
}

/* Fond Show Profil */
@media only screen and (min-width: 992px){
    #show_profil_bgd{
        min-height:100vh;
        background-image: url(../../img/illustration/polaroid.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-attachment: fixed;
        background-size: 25%;
    }
}

/* Fond Show Event */
@media only screen and (min-width: 992px){
    #show_event_bgd{
        min-height:100vh;
        background-image: url(../../img/illustration/world_connection_.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-attachment: fixed;
        background-size: 25%;
    }
}

/* Fond Show Event */
@media only screen and (min-width: 992px){
    #show_search_event_bgd{
        min-height:100vh;
        background-image: url(../../img/illustration/mobile_testing.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-attachment: fixed;
        background-size: 25%;
    }
}

/* Image accueil*/

.img_home{
    width: 100%;
    display: block;
    height: auto;
    box-shadow: 10px 10px 30px -24px rgba(0,0,0,0.86);
}
.img_hov{
    position: relative;
    width: 100%;
    margin-bottom: 3em;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f7aa00;
}
.img_hov:hover .overlay {
    opacity: 0.7;
}
.img_hov:hover .city_text a{
    opacity: 1;
    text-decoration: none;
}
.city_text a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.city_text a:hover{
    text-decoration: none;
    color: white;
}

/*@media only screen and (min-width: 992px) {
    #img_decal {
        margin-left: 5em;
    }
}*/
#decal{
    margin-left: 5em;
}

footer{
    background-color: #235784;
    color: #FFFFFF;
    text-decoration: none;
}
#event_card{
    margin-right: 2em;
    margin-bottom: 2em;
}
.btn-light{
    margin-right: 1em;
}
#team{
    text-decoration: none;
    color: #FFFFFF;
}
/*Modal*/

.modal-content{
    color: #235784;
}
/*Image Profil*/

.card-img-top{
    max-width: 20em;
    align-self: center;
}
@media only screen and (min-width: 992px) {
    .img-thumbnail {
        max-height: 40%;
    }
}
.hide{
    display: none;
}
.hideInput{
    display: none;
}
.pagination{
    color: #235784;
}
.affProfil{
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
}
.affEvent{
    margin: 2em;
}
.parts{
    text-decoration: none;
    font-weight: bold;
    color: #235784;
}
.parts:hover{
    text-decoration: none;
    color: #f7aa00;
}
/* Error 404 */

.title_game{
    text-align:center
}
#space-invaders {
    margin: 0 auto;
    display: block;
    background: white
}
.error404_lg{
    max-height: 100vh;
}
@media only screen and (max-width: 992px){
    .error404_lg{
        display: none;
    }
}
@media only screen and (min-width: 992px){
    .error404_mob{
        display: none;
    }
}

/* Error 403 */

