
{% extends 'layout.html.twig' %}

{% block title %}
    Test API Google Maps
{% endblock %}

{% block geo %}


    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrRyTeCxvTBbznCTK8sfvzUEM4WeJEyg4&callback=initMap">
    </script>

{% endblock %}

{% block body %}

    <div id="map" style="border: 1px solid black;
               width: 400px; height: 400px;
               margin-left: 30px; margin-top: 30px;">
    </div>

    <script type="text/javascript">
        function initMap() {

            // The location of Uluru
            var uluru = {lat: 51.501364, lng: -0.14189};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 4, center: uluru});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map});

            /*var map = new google.maps.Map(document.getElementById('map'), {
                center: new google.maps.LatLng(-33.863276, 151.207977),
                zoom: 12
            });*/
        }
    </script>

{% endblock %}