<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {% include 'includes/links.html.twig' %}

    {% block geo %}
    {% endblock %}


    <link rel="icon" href="{{ asset('img/icon_HW.png') }}">

    <title>{% block title %}TITRE PAR DEFAUT{% endblock %}</title>
</head>

<body>

<div class="container-fluid" id="body">
    {% block test %}
        {% include 'includes/nav.html.twig' %}

        <div class="row">

            <div class="col-xs-2 col-sm-3"></div>
            <div class="col-xs-8 col-sm-6">
                {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
                {% endfor %}<br/>
            </div>
            <div class="col-xs-2 col-sm-3"></div>

        </div>





        <div class="row">
            <div class="col-md-12">
            </div>
        </div>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    {% endblock %}

</div>
{% include 'includes/footer.html.twig' %}
</body>
</html>