{% include 'includes/links.html.twig' %}

<div class="container-fluid" id="body">
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-1"></div>
        <div class="col-xs-10 col-sm-8 col-md-10 justify-content-center">

            <h3>Votre compte est inactif ou supprimé</h3>
                <br/>
            <div>Pour plus d'informations, écrivez-nous : contact@helloworld.com</div>

            <button class="btnValid" id="restart"><a href="{{ asset('/going-out/public/login') }}">Retour</a></button></p>

        </div>
        <div class="col-xs-1 col-sm-2 col-md-1"></div>
    </div>
</div>
