{% extends 'layout.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-xs-2 col-md-3"></div>
        <div class="col-xs-8 col-md-6 justify-content-center">
            <h3>Une  erreur s'est produite</h3>

        <br/>
        <div>Nous sommes en train de régler ce problème calmement ;)</div>
        <br/>
        <img class="user_delete" src="{{ asset('public/error/no.gif') }}" alt="user_delete" >
        </div>
        <div class="col-xs-2 col-md-3"></div>
    </div>
{% endblock %}