{% extends 'layout.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div id="login">
    <div class="row">
        <div class="col-xs-2 col-md-3">
        </div>
        <div class="col-xs-8 col-md-6" id="test">

            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <fieldset class="border p-2">
                <legend  class="w-auto">Connexion</legend>
            <form action="{{ path('login') }}" method="post">

                <div class="form-group">

                    <label for="username">Identifiant</label>
                    <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}"
                           placeholder="Identifiant"/>
                </div>
                <div class="form-group">

                    <label for="exampleInputPassword1">
                        Password
                    </label>
                    <input type="password" class="form-control" id="password" name="_password" placeholder="Password"/>
                </div>

                <div class="checkbox">


                    <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                    <label for="remember_me">Keep me logged in</label>


                </div>
                <button type="submit" class="btnValid">
                    Connexion
                </button>

            </form>
            </fieldset>
        </div>
        <div class="col-xs-2 col-md-3">
        </div>
    </div>
    </div>
{% endblock %}