{% extends 'layout.html.twig' %}

{% block title %}Liste des events{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-2 col-md-3"></div>
        <div class="col-xs-8 col-md-6" id="form_format">
            <h3>Rechercher</h3>
            <form role="search" action="{{ path('listEvent') }}">
                <div>


                    <form role="search" action="{{ path('listEvent') }}">
                        <div>
                            <input type="search" class="form-control" id="site-search" name="var"
                                   placeholder="Votre recherche ..."
                                   aria-label="Search through site content">
                            <br>

                            Entre:<input type="datetime-local" name="beginDate"> <br>
                            et:<input type="datetime-local" name="endDate"><br>

                            {#CHECKBOX A MODIFIER !#}
                            <input type="checkbox" id="eventOwner" name="eventOwner">
                            <label for="eventOwner">Sorties dont je suis l'organisateur/trice</label>
                            <br>

                            <input type="checkbox" id="subscribed" name="subscribed">
                            <label for="subscribed">Sorties auxquelles je suis inscrit/e</label>
                            <br>

                            <input type="checkbox" id="notSubscribed" name="notSubscribed">
                            <label for="notSubscribed">Sorties auxquelles je ne suis pas inscrit/e</label>
                            <br>

                            <input type="checkbox" id="passedEvent" name="passedEvent">
                            <label for="passedEvent">Sorties passées</label>
                            <br>

                            <input type="hidden" name="label" value="{{ siteLabel }}">
                            <button class="btn btn-outline-info" type="submit">Rechercher</button>
                        </div>
                    </form>


                </div>


                {% include 'includes/listEvents.html.twig' %}


            </form>
            {% include 'includes/pagination.html.twig' %}

        </div>
        <div class="col-xs-2 col-md-3">
        </div>
    </div>
{% endblock %}
