{% extends 'layout.html.twig' %}

{% block title %}Liste des events{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-2 col-md-3"></div>
        <div class="col-xs-8 col-md-6">
            <h1>Rechercher</h1>
            <form role="search" action="{{ path('listEvent') }}">
                <div>


                    <form role="search" action="{{ path('listEvent') }}">
                        <div>
                            <input type="search" class="form-control" id="site-search" name="var"
                                   placeholder="Votre recherche ..."
                                   aria-label="Search through site content">
                            <br>

                            Entre:<input type="datetime-local" name="beginDate"> <br>
                            et:<input type="datetime-local" name="endDate"><br>


                            <input type="hidden" name="label" value="{{ siteLabel }}">
                            <button class="btn btn-outline-info" type="submit">Rechercher</button>
                        </div>
                    </form>


                </div>


                {% include 'includes/listEvents.html.twig' %}


            </form>
            {% include 'includes/pagination.html.twig' %}

        </div>
        <div class="col-xs-2 col-md-3">
        </div>
    </div>
{% endblock %}
